@model UserSupportManagement.Models.Vendor

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">Delete</h1>

<h3 class="text-center text-danger">Are you sure you want to delete this?</h3>
<div>
    <h4>Vendor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            Vendor Name
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.VendorName)
        </dd>
        <dt class = "col-sm-4">
            Vendor Details
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.VendorDetails)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.VendorEmail)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.VendorEmail)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.VendorPhoneNumber)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.VendorPhoneNumber)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.VendorAddress)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.VendorAddress)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ContactPersonName)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ContactPersonName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ContactPersonPhoneNumber)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ContactPersonPhoneNumber)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VendorId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
