@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using UserSupportManagement.Constants
@model IEnumerable<UserSupportManagement.Models.StatusType>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>*@

<h1 class="text-center">Status Types List</h1>
<br />

<div class="createbutton">
    @if ((AuthorizationService.AuthorizeAsync(User, Permissions.StatusTypes.Create)).Result.Succeeded)
    {
        <a class="btn btn-primary mb-3 text-end" asp-action="Create"><i class="fa-solid fa-circle-plus"></i> Create New</a>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StatusTypeName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.StatusTypeValue)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </th>*@
            <th style="width:10%">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StatusTypeName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.StatusTypeValue)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>*@
            <td class="text-right">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.StatusTypes.View)).Result.Succeeded)
                        {
                                                                            <li><button class="dropdown-item" type="button">
                                                                            <a class="dropdown-item" asp-action="Details" asp-route-id="@item.StatusTypeId"><i class="fa-solid fa-circle-info"></i> Details</a>
                                                                            </button></li>
                        }
                        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.StatusTypes.Edit)).Result.Succeeded)
                        {
                                                                            <li><button class="dropdown-item" type="button">
                                                                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.StatusTypeId"><i class="fas fa-pencil-alt"></i> Edit</a>
                                                                            </button></li>
                        }
                        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.StatusTypes.Delete)).Result.Succeeded)
                        {
                                                                            <li><button class="dropdown-item" type="button">
                                                                            <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.StatusTypeId"><i class="fas fa-trash-alt"></i> Delete</a>
                                                                            </button></li>
                        }
                    </ul>
                </div>
                
            </td>
        </tr>
}
    </tbody>
</table>
