@model UserSupportManagement.Models.Problem
@*@model UserSupportManagement.Models.Solution*@


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Problem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProblemType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProblemType.ProblemTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusType.StatusTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProblemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProblemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProblemDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProblemDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolutionDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolutionDetails)
        </dd>*@

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProblemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
