@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using UserSupportManagement.Constants
@using Solution = Microsoft.CodeAnalysis.Solution
@*@model UserSupportManagement.Models.Problem*@
@model UserSupportManagement.Models.SolutionViewModel


@{
    ViewData["Title"] = "Details";
}
<div class="container pb-">
    <h1 class="text-center mt-3">Details</h1>
    <hr />
    <div class="row justify-content-md-center">
        <div class="col col-md-2"></div>
        <div class="col col-md-8">
            @*<h4>Problem</h4>*@
            <dl class="row">
                <dt class="col-sm-4">
                    ProblemName
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ProblemName)
                </dd>
                <dt class="col-sm-4">
                    ProblemType
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ProblemTypeName)
                </dd>
                <dt class="col-sm-4">
                    StatusType
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.StatusTypeName)
                </dd>
                <hr />
                
                <dt class="col-sm-4">
                    ProblemDetails
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ProblemDetails)
                </dd>
                <hr />
                
                @if (Model.SolutionDetails != null)
                {
                    <dt class="col-sm-4">
                        Solution Details
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.SolutionDetails)
                    </dd>
                    <hr />
                }

                <dt class="col-sm-4">
                    CreatedBy
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CreatedBy)
                </dd>
                <dt class="col-sm-4">
                    CreatedDate
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>
                <dt class="col-sm-4">
                    ModifiedBy
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ModifiedBy)
                </dd>
                <dt class="col-sm-4">
                    ModifiedDate
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ModifiedDate)
                </dd>
                <dt class="col-sm-4">
                    IsActive
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IsActive)
                </dd>
                <dt class="col-sm-4">
                    IsDeleted
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IsDeleted)
                </dd>
            </dl>
        </div>
        <div class="col col-md-2"></div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-md-3"></div>
        <div class="col col-md-6">
            @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Problems.Edit)).Result.Succeeded)
            {
                <div class="d-grid gap-2">
                    <a class="btn btn-success mb-3" asp-action="Edit" asp-route-id="@Model.ProblemId"><i class="fas fa-pencil-alt"></i> Edit </a>
                </div>         
            }
            <div class="d-grid gap-2">
                <a class="btn btn-primary mb-3" asp-action="Index">Back to List</a>
            </div>
        </div>
        <div class="col col-md-3"></div>
    </div>
</div>

