@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using UserSupportManagement.Constants
@model UserSupportManagement.Models.Order

@{
    ViewData["Title"] = "Details";
}
<div class="container pb-3">
    <h1 class="text-center mt-3">Details</h1>
    <hr />
    <div class="row justify-content-md-center">
        <div class="col col-md-3"></div>
        <div class="col col-md-7">
            @*<h4>Order</h4>*@
            <dl class="row">
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Vendor)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Vendor.VendorName)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.StatusType)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.StatusType.StatusTypeName)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Problem)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Problem.ProblemName)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.OrderName)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.OrderName)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.OrderItemName)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.OrderItemName)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.OrderItemDetails)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.OrderItemDetails)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.OrderItemQuantity)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.OrderItemQuantity)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.CreatedBy)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.ModifiedBy)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.ModifiedBy)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.ModifiedDate)
                </dd>       
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.IsActive)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.IsDeleted)
                </dd>
                <dt class = "col-sm-4">
            </dl>
        </div>
        <div class="col col-md-2"></div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-md-3"></div>
        <div class="col col-md-6">
            @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Orders.Edit)).Result.Succeeded)
            {
                <div class="d-grid gap-2">
                    <a class="btn btn-success mb-3" asp-action="Edit" asp-route-id="@Model.OrderId"><i class="fas fa-pencil-alt"></i> Edit </a>
                </div>         
            }
            <div class="d-grid gap-2">
                <a class="btn btn-primary mb-3" asp-action="Index">Back to List</a>
            </div>
        </div>
        <div class="col col-md-3"></div>
    </div>
</div>

