@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using UserSupportManagement.Constants
@model IEnumerable<UserSupportManagement.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<div class="container pb-3">
    @*<h1>Index</h1>*@

    <h1 class="text-center mt-3">Orders List</h1>
    <br />
    
    <div class="createbutton">
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Orders.Create)).Result.Succeeded)
        {
            <a class="btn btn-primary mb-3 text-end" asp-action="Create"><i class="fa-solid fa-circle-plus"></i> Create New</a>
        }
    </div>
    
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Problem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItemDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItemQuantity)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </th>*@
            <th style="width:10%">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.VendorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusType.StatusTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Problem.ProblemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderItemDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderItemQuantity)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>*@

            <td class="text-right">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Orders.View)).Result.Succeeded)
                        {
                                                                            <li><button class="dropdown-item" type="button">
                                                                            <a class="dropdown-item" asp-action="Details" asp-route-id="@item.OrderId"><i class="fa-solid fa-circle-info"></i> Details</a>
                                                                            </button></li>
                        }
                        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Orders.Edit)).Result.Succeeded)
                        {
                                                                            <li><button class="dropdown-item" type="button">
                                                                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.OrderId"><i class="fas fa-pencil-alt"></i> Edit</a>
                                                                            </button></li>
                        }
                        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Orders.Delete)).Result.Succeeded)
                        {
                                                                            <li><button class="dropdown-item" type="button">
                                                                            <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.OrderId"><i class="fas fa-trash-alt"></i> Delete</a>
                                                                            </button></li>
                        }
                    </ul>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
</div>


