@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using UserSupportManagement.Constants
@model UserSupportManagement.Models.Concern

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h1 class="text-center mt-3">Delete</h1>

    <h3 class="text-center text-danger">Are you sure you want to delete this?</h3>
    <hr/>
    <div>
        <div class="row justify-content-md-center">
            <div class="col col-md-3"></div>
            <div class="col col-md-6">
                @*<h4>Concern</h4>*@
            
                <dl class="row">
                    <dt class="col-sm-5">
                        Concern Name
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.ConcernName)
                    </dd>

                    <dt class="col-sm-5">
                        Concern Short Name
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.ConcernShortName)
                    </dd>

                    <dt class="col-sm-5">
                        CreatedBy
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.CreatedBy)
                    </dd>

                    <dt class="col-sm-5">
                        CreatedDate
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.CreatedDate)
                    </dd>

                    <dt class="col-sm-5">
                        ModifiedBy
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.ModifiedBy)
                    </dd>

                    <dt class="col-sm-5">
                        ModifiedDate
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.ModifiedDate)
                    </dd>

                    <dt class="col-sm-5">
                        IsActive
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>
                </dl>
                

                @*<form asp-action="Delete">
                <input type="hidden" asp-for="ConcernId"/>
                <input type="submit" value="Delete" class="btn btn-danger"/>
                <a class="btn btn-primary" asp-action="Index">Back to List</a>
            </form>*@
            </div>
            <div class="col col-md-3"></div>
        
        </div>
        
        <div class="row justify-content-md-center">
            <div class="col col-md-3"></div>
            <div class="text-center col-md-6">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="ConcernId" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a class="btn btn-primary" asp-action="Index">Back to List</a>
                </form>
            </div>
            <div class="col col-md-3"></div>
        </div>
    </div>

        
    </div>

    
</div>

