@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using UserSupportManagement.Constants
@model UserSupportManagement.Models.Concern

@{
    ViewData["Title"] = "Details";
}

<div class="container pb-3">
    <h1 class="text-center mt-3">Details</h1>
<hr />

<div>
    @*<h4>Concern</h4>*@
    <div class="row justify-content-md-center">
        <div class="col col-md-3"></div>
        <div class="col col-md-6">
            <dl class="row">
                <dt class = "col-sm-5">
                    Concern Name
                </dt>
                <dd class = "col-sm-7">
                    @Html.DisplayFor(model => model.ConcernName)
                </dd>
        
                <dt class = "col-sm-5">
                    Concern Short Name
                </dt>
                <dd class = "col-sm-7">
                    @Html.DisplayFor(model => model.ConcernShortName)
                </dd>
        
                <dt class = "col-sm-5">
                    CreatedBy
                </dt>
                <dd class = "col-sm-7">
                    @Html.DisplayFor(model => model.CreatedBy)
                </dd>

                <dt class = "col-sm-5">
                    CreatedDate
                </dt>
                <dd class = "col-sm-7">
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>

                <dt class = "col-sm-5">
                    ModifiedBy
                </dt>
                <dd class = "col-sm-7">
                    @Html.DisplayFor(model => model.ModifiedBy)
                </dd>

                <dt class = "col-sm-5">
                    ModifiedDate
                </dt>
                <dd class = "col-sm-7">
                    @Html.DisplayFor(model => model.ModifiedDate)
                </dd>

                <dt class = "col-sm-5">
                    IsActive
                </dt>
                <dd class = "col-sm-7">
                    @Html.DisplayFor(model => model.IsActive)
                </dd>
            </dl>
        </div>
        <div class="col col-md-3"></div>

    </div>
    
</div>
<div class="row justify-content-md-center">
    <div class="col col-md-3"></div>
    <div class="col col-md-6">
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Concerns.Edit)).Result.Succeeded)
        {
            <a class="btn btn-success btn-block" asp-action="Edit" asp-route-id="@Model.ConcernId"><i class="fas fa-pencil-alt"></i> Edit </a>
        }

        <a class="btn btn-primary btn-block" asp-action="Index">Back to List</a>
    </div>
    <div class="col col-md-3"></div>
</div>
</div>

